*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin:0;
    background: linear-gradient(to right, #0096aa,#efd0f6);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border:1px solid white;
    outline: none;
    background-color: rgba(208, 255, 255, 0.75);
}
.calculator-grid > button:hover{
    background-color: steelblue;
}
.span-two{
    grid-column:span 2;
}
.output{
    grid-column: 1/-1;
    background-color: black;
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
 word-break: break-all;
}
.output .previous-operand{
    color: blanchedalmond;
    font-size: 1.5rem;
}
.output .current-operand{
    color: blanchedalmond;
    font-size: 1.5rem;

}